body {
  font: 1.25em Montserrat, sans-serif;
  line-height: 1.5em;
  color: #f5f6f7;
}
p { 
  font-size: 1.2em;
  margin: 0em;
}
img { width: 100%; }

.margin { margin-bottom: 2.8em; }
.bg-1 { 
  background-color: #474e5d; /* Dark Blue */
  color: #ffffff;
}
.bg-2 { 
  background-color: #ffffff; /* White */
  color: #555555;
}
.bg-3 { 
  background-color: #2f2f2f; /* Black Gray */
  color: #fff;
}
.container-fluid {
  padding-top: 4.375em;
  padding-bottom: 4.375em;
}
.navbar {
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 0.75em;
  letter-spacing: 0.3em;
}
.navbar-nav li a:hover { color: #1abc9c !important; }
.navbar-brand span.title-ch, .navbar-nav span.title-ch { font-size: 1em; }
.navbar-brand span.title-en, .navbar-nav span.title-en { font-size: 0.5em; }
.img-svg-icon { width: 1.5em; }

#topButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: #c3e9fd;
  color: #0626a8;
  border-radius: 5px;
  text-decoration: none;
}
#topButton:hover {
  background-color: #b2d8ec;
}